Repository khmakoto/Project-Platinum-Shake, pull requests merged in 2022-09, with the labels that each got.

#2 chore: Cleaning up dependencies and files from cra output
  package.json
  src/App.test.tsx
  src/index.tsx
  src/reportWebVitals.ts
  yarn.lock
Labels: Front-end

#3 chore: Moving all front-end related files under a 'front-end' folder
  .gitignore
  front-end/package-lock.json
  front-end/package.json
  front-end/public/favicon.ico
  front-end/public/index.html
  front-end/public/logo192.png
  front-end/public/logo512.png
  front-end/public/manifest.json
  front-end/public/robots.txt
  front-end/src/App.css
  front-end/src/App.tsx
  front-end/src/index.css
  front-end/src/index.tsx
  front-end/src/logo.svg
  front-end/src/react-app-env.d.ts
  front-end/src/setupTests.ts
  front-end/tsconfig.json
  front-end/yarn.lock
Labels: repo organization

#5 chore: Setting up prettier code formatter for front-end section of project
  front-end/.prettierignore
  front-end/.prettierrc.json
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/index.css
  front-end/src/index.tsx
  front-end/src/logo.svg
  front-end/src/setupTests.ts
  front-end/tsconfig.json
  front-end/yarn.lock
Labels: setup and cleanup

#4 Added initial setup for Web API
  .gitignore
  back-end/ProjectPlatinumShakeWebAPI/HttpExample.cs
  back-end/ProjectPlatinumShakeWebAPI/ProjectPlatinumShakeWebAPI.csproj
  back-end/ProjectPlatinumShakeWebAPI/Properties/launchSettings.json
  back-end/ProjectPlatinumShakeWebAPI/Properties/serviceDependencies.json
  back-end/ProjectPlatinumShakeWebAPI/Properties/serviceDependencies.local.json
  back-end/ProjectPlatinumShakeWebAPI/host.json
  back-end/back-end.sln
Labels: back-end, setup and cleanup

#6 feat: Adding initial prototype of website's navigation bar
  front-end/package.json
  front-end/src/App.css
  front-end/src/App.tsx
  front-end/src/common/Nav/Nav.tsx
  front-end/src/common/Nav/index.ts
  front-end/src/common/Nav/useNavStyles.ts
  front-end/src/common/index.ts
  front-end/src/index.css
  front-end/src/index.tsx
  front-end/yarn.lock
Labels: front-end

#7 feat: Adding initial implementation of photo grid
  front-end/src/App.tsx
  front-end/src/common/PhotoGrid/PhotoGrid.tsx
  front-end/src/common/PhotoGrid/PhotoGrid.types.ts
  front-end/src/common/PhotoGrid/index.ts
  front-end/src/common/PhotoGrid/usePhotoGridStyles.tsx
  front-end/src/common/index.ts
Labels: front-end

#8 chore: Small setup for front-end deployment
  front-end/package.json
  front-end/public/web.config
  front-end/yarn.lock
Labels: back-end, setup and cleanup

#9 feat: Adding initial side nav implementation
  front-end/src/App.tsx
  front-end/src/common/SideNav/SideNav.tsx
  front-end/src/common/SideNav/index.ts
  front-end/src/common/SideNav/useSideNavStyles.tsx
  front-end/src/common/index.ts
Labels: front-end

#10 feat: Added initial Auth0 integration for authenticating to the front-end application
  front-end/.env
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/auth/Auth0ProviderWithHistory.tsx
  front-end/src/auth/ProtectedRoute.tsx
  front-end/src/auth/index.ts
  front-end/src/common/Login/Login.tsx
  front-end/src/common/Login/index.ts
  front-end/src/common/index.ts
  front-end/src/index.tsx
  front-end/src/views/LoginView/LoginView.tsx
  front-end/src/views/LoginView/index.ts
  front-end/src/views/PhotosView/PhotosView.tsx
  front-end/src/views/PhotosView/index.ts
  front-end/src/views/index.ts
  front-end/yarn.lock
Labels: back-end, repo organization

#11 feat: Adding initial photo carousel
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/common/Nav/useNavStyles.ts
  front-end/src/common/PhotoCarousel/PhotoCarousel.tsx
  front-end/src/common/PhotoCarousel/PhotoCarousel.types.ts
  front-end/src/common/PhotoCarousel/index.ts
  front-end/src/common/PhotoCarousel/usePhotoCarouselStyles.ts
  front-end/src/common/PhotoGrid/PhotoGrid.tsx
  front-end/src/common/PhotoGrid/usePhotoGridStyles.tsx
  front-end/src/common/SideNav/SideNav.tsx
  front-end/src/common/SideNav/useSideNavStyles.tsx
  front-end/src/common/index.ts
  front-end/src/views/PhotosView/PhotosView.tsx
Labels: front-end

#12 feat: Added classes for performing authentication in the back-end
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Authenticator.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Settings.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/AuthExpectedException.cs
  back-end/ProjectPlatinumShakeWebAPI/Common/ExpectedException.cs
  back-end/ProjectPlatinumShakeWebAPI/HttpExample.cs
  back-end/ProjectPlatinumShakeWebAPI/ProjectPlatinumShakeWebAPI.csproj
  back-end/ProjectPlatinumShakeWebAPI/Startup.cs
  front-end/.env
  front-end/src/auth/Auth0ProviderWithHistory.tsx
Labels: back-end

#13 feat: Adding animation into and out of the photo carousel
  front-end/src/common/Nav/useNavStyles.ts
  front-end/src/common/PhotoCarousel/PhotoCarousel.tsx
  front-end/src/common/PhotoCarousel/PhotoCarousel.types.ts
  front-end/src/common/PhotoCarousel/index.ts
  front-end/src/common/PhotoCarousel/usePhotoCarouselStyles.ts
  front-end/src/common/PhotoGrid/PhotoGrid.tsx
  front-end/src/common/PhotoGrid/usePhotoGridStyles.tsx
Labels: front-end

#14 fix: Preventing ability to scroll when photo carousel is open
  front-end/src/common/PhotoGrid/PhotoGrid.tsx
Labels: front-end

#15 feat: Adding capability of calling Auth0 Management API
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Authenticator.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Management/Auth0ManagementTokenRequest.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Management/Auth0ManagementTokenResponse.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Management/Auth0ManagementTokenUtility.cs
  back-end/ProjectPlatinumShakeWebAPI/Auth/Auth0Settings.cs
  back-end/ProjectPlatinumShakeWebAPI/HttpExample.cs
  back-end/ProjectPlatinumShakeWebAPI/ProjectPlatinumShakeWebAPI.csproj
  back-end/ProjectPlatinumShakeWebAPI/Settings/Auth0Settings.cs
  back-end/ProjectPlatinumShakeWebAPI/Settings/KeyVaultSettings.cs
  back-end/ProjectPlatinumShakeWebAPI/Startup.cs
Labels: back-end
